<div class="dashboard-module-wrapper">
    <div class="btn-group btn-group-justified btn-group-raised custom-btn-group">
        <a ui-sref-active="active" ui-sref="dashboard.profile" href="" class="btn">Profile</a>
        <a ui-sref-active="active" ui-sref="dashboard.schedule" href="" class="btn">Schedule</a>
        <a ui-sref-active="active" ui_sref="dashboard.events" href="" class="btn">Events</a>
    </div>
    <div class="fixed-width">
        <div class="content" ui-view></div>
    </div>
</div>
