<div class="dashboard-module-wrapper">
    <div class="btn-group btn-group-justified btn-group-raised custom-btn-group" ng-show="!showSettingsPage">
        <a ui-sref-active="active" ui-sref="dashboard.profile" href="" class="btn">Profile</a>
        <a ui-sref-active="active" ui-sref="dashboard.schedule" href="" class="btn">Schedule</a>
        <a ui-sref-active="active" ui_sref="dashboard.events" href="" class="btn">Events</a>
    </div>
    <div class="btn-group btn-group-justified btn-group-raised custom-btn-group" ng-show="showSettingsPage">
        <a ui-sref-active="active" ui-sref="dashboard.settings.users" href="" class="btn">Users</a>
        <a ui-sref-active="active" ui-sref="dashboard.settings.events" href="" class="btn">Events</a>
        <a ui-sref-active="active" ui_sref="dashboard.settings.schedule" href="" class="btn">Schedule</a>
        <a ui-sref-active="active" ui_sref="dashboard.settings.manageRoles" href="" class="btn">Manage Roles</a>
    </div>
    <div class="fixed-width">
        <div class="content" ui-view></div>
    </div>
</div>
