//a.Roboto-font{
//  font-family: Roboto;
//}
//@font-face
//{
//  font-family: Roboto-font;
//  src: url('../fonts/Roboto-Black.ttf');
//}
a.Roboto-custom-brand {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 32px;
}

a.Roboto-custom-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
}

.form-group {
  .help-block {
    display: block;
  }
}

.form-group.has-success {
  .help-block {
    display: none;
  }
}

//gmap
logicify-gmap {
  .gm-style-mtc {
    div:nth-child(2) {
      right: auto !important;
    }
    label {
      font-size: 11px !important;
      margin-bottom: 0;
    }
  }
}

//animation
@overflow : auto;
html, body {
  .avatar{
    background-size: cover;
    width: 300px;
    height: 350px;
  }
  .person:after{
    content:'person';
    font-size: 200px;
  }
  position: relative;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  overflow: @overflow;
  .modal-open {
    overflow: @overflow;
    position: fixed;
    width: 100%;
  }
  .page-content {

  }
  .fixed-width{
    margin-left: 15%;
    margin-right: 15%;
  }
  @media screen and (max-width: 600px) {
    .fixed-width {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  .ng-hide {
    opacity: 0;
  }

  .ng-hide-remove, .ng-hide-add {
    display: block !important;
  }

  .ng-hide-remove {
    transition: all linear 500ms;
  }

  .ng-hide-add {
    transition: none;
  }
  [ui-view].ng-enter {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
  }

  [ui-view].ng-enter {
    opacity: 0;
  }

  [ui-view].ng-enter-active {
    opacity: 1;
  }
}
