.custom-dropdown{
  vertical-align: middle;
  position: absolute;
  top: 32px;
}
.dropdown-button-settings {
  margin-left: 18px;
  width: 150px;
}
.dropdown-button-logOut {
  margin-left: 23px;
  width: 150px;
}