.map {
  height: 700px;
}
.dropdown_btn{
  align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.body-site {
  @margin: 15%;

  margin-top: 20px;
  margin-left: @margin;
  margin-right: @margin;
}
.text-center {
  text-align: center;
}
.text-about {
  margin-left: 2%;
}
.custom-btn-group {
  bottom: 20px;
  right: 1px;
}