<div id="custom-modal">
    <div id="fade"></div>
    <div id="sign-in">
        <div ng-show="error" class="alert alert-danger">{{error}}</div>
        <form role="form" name="form" ng-submit="auth.signIn(username,password)">
            <p>
            <h2>Sign In</h2></p>
            <div class="form-group">
                <input type="text" name="username" ng-model="username" id="username" class="form-control"
                       placeholder="Enter login"/>
            </div>
            <div class="form-group">
                <input type="password" name="password" ng-model="password" id="password" class="form-control"
                       placeholder="Password" required/>
            </div>
            <div class="form-actions">
                <button type="reset" class="btn btn-default" ng-click="auth.close()"
                        style="margin-left: 35%;padding-left: 5%;padding-right: 5%;width: 25%">Cancel
                </button>
                <button type="submit" class="btn btn-default" ng-disabled="form.$invalid"
                        style="margin-left: 2%;padding-left: 5%;padding-right: 5%;width: 25%">Submit
                </button>
            </div>
        </form>
    </div>
</div>