<div s-loading-indicator="" ng-show="busy"></div>

<div class="modal-dialog-content" ng-if="!busy">
    <div ng-show="error" class="alert alert-danger">{{error}}</div>
    <h3 class="text-center">Sign in with</h3>
    <a class="btn btn-block google-authorize-button" ng-click="googleAuthButtonClick()">Google</a>
    <a class="btn btn-block facebook-authorize-button" ng-click="facebookAuthButtonClick()">Facebook</a>
    <a class="btn btn-block pinterest-authorize-button disabled" ng-click="pinterestAuthButtonClick()">Pinterest (in development)</a>
    <div class="google-content"></div>
    <h2>Sign in</h2>
    <form role="form" name="loginForm" class="" ng-submit="controller.signIn(loginForm)">
        <div
                sf-schema="login.schema"
                sf-form="login.form"
                sf-model="login.model">

        </div>
        <div class="form-actions">
            <button type="reset" class="btn btn-default custom-btn-cancel" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn-default custom-btn-submit" ng-disabled="form.$invalid">Submit</button>
        </div>
    </form>
</div>