<div id="custom-modal">
    <div id="sign-up">
        <form role="form" ng-submit="auth.addUser(email,login,password);auth.close()">
            <h2>Sign Up</h2>
            <div class="form-group">
                <input class="form-control"  type="email" placeholder="Enter email" ng-model="email"/>
            </div>
            <div class="form-group">
                <input class="form-control"  type="text" placeholder="Login" ng-model="login"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Password" ng-model="password" name="password"/>
            </div>
            <div class="form-group">
                <input class="form-control" type="password" placeholder="Repeat password" ng-model="confirmPassword" name="confirmPassword"/>
            </div>
            <button type="reset" class="btn btn-default" ng-click="auth.close()"
                    style="margin-left: 35%;padding-left: 5%;padding-right: 5%;width: 25%">Cancel</button>

            <button type="submit" class="btn btn-info" ng-disabled="email.$invalid"
                    style="margin-left: 2%;padding-left: 5%;padding-right: 5%;width: 25%" >Submit</button>
        </form>
    </div>
    <div id="fade"></div>
</div>
