<div s-loading-indicator="" ng-show="busy"></div>

<div class="modal-dialog-content" ng-if="!busy">
    <h2>Sign Up</h2>

    <form role="form" name="signUpForm" class=""
          ng-submit="controller.signUp(signUpForm)">
        <div
                sf-schema="signUp.schema"
                sf-form="signUp.form"
                sf-model="signUp.model">

        </div>
        <div class="form-actions">
            <button type="reset" class="btn btn-default custom-btn-cancel" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn-default custom-btn-submit"
                    ng-disabled="form.$invalid">Submit
            </button>
        </div>
    </form>
</div>
