.profile-module-wrapper {
  .alert-profile-password {
    width: 400px;
  }
  .alert-profile-password-link{
    cursor: pointer;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .form-group {
    margin: 0;
  }
  .profile-view {
    .profile-title {
      @media screen and (max-width: 600px) {
        .material-icons {
          opacity: 1 !important;
        }
      }
      &:hover {
        .material-icons {
          opacity: 1;
          transition: all linear 500ms;
        }
      }
      display: block;
      .profile-caption {
        display: inline-block;
      }
      .material-icons {
        opacity: 0;
        transition: all linear 500ms;
        cursor: pointer;
      }
    }
  }
}
