.schedule-settings-selector-module-wrapper {
  .day-card{
    width: 17vh;
    height: 20vh;
    cursor: pointer;
    text-align: center;
  }
  .day-card:hover{
    background-color: #dde6e9;
    border-color: #8dafee;
  }
  .day-table {

  }
  .stage-table {
    width: 300px;
  }
  .stage-suffix {
    width: 50%;
    cursor: pointer;
  }
  .stage-suffix:hover {
    background-color: #dddddd;
  }
}