<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School 24</title>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" type="text/css" href="style/style.css">
    <link rel="stylesheet" type="text/css" href="style/modal.css">
    <script data-main="scripts/entrypoint.js" src="../bower_components/requirejs/require.js"></script>
</head>
<body ng-controller="RootController as panel">
<header>
    <nav class="navbar navbar-inverse" style="padding-bottom: 20px;padding-top: 20px;position: relative">
        <div class="container-fluid" style="vertical-align: middle">
            <div class="navbar-header" style="padding-left: 4%">
                <a class="navbar-brand" ng-click="panel.onTabSelect('home')" href="">
                    <img src="images/School24.png" style="height: 100px;width: 300px;position: relative;bottom: 30px;">
                </a>
            </div>

            <ul class="nav navbar-nav navbar-right" style="margin-right: 14%;" ng-if=panel.isAuthenticated()>

                <li style="margin-right: 20px"><h3>Hello, {{panel.getName()}}</h3></li>
                <ul class="pager">
                    <li style="vertical-align: middle;position: absolute;top: 32px;">
                        <!--<a class="withripple" ng-click="panel.logOut()" style="width: 100px" href="">Log Out</a>-->
                        <div class="dropdown">
                            <img src="images/ava.png" class="dropdown-toggle" data-toggle="dropdown" style="height: 80px;width: 80px;position: relative;bottom: 22px;">

                            <!--<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials-->
                                <!--<span class="caret"></span></button>-->
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <!--<li class="btn btn-primary" type="button">Simple btn</li>-->
                                <li class="btn btn-primary" type="button" href="" style="margin-left: 18px;width: 150px;" ng-click="panel.onTabSelect('settings')">Settings</li>
                                <li class="btn btn-primary" type="button" href="" style="margin-left: 23px;width: 150px;" ng-click="panel.logOut();panel.onTabSelect('home')">Log Out</li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right: 14%;" ng-if=!panel.isAuthenticated()>
                <ul class="pager">
                    <li style="vertical-align: middle;position: absolute;top: 12px">
                        <a class="withripple" ng-click="showCustom('/School_v0.2/app/views/auth/logIn')"
                           data-placement="center" href="" style="width: 100px">Sign In</a>
                        <p></p>
                        <a class="withripple" ng-click="showCustom('/School_v0.2/app/views/auth/logUp')"
                           href="" style="width: 100px">Sign Up</a>
                    </li>
                </ul>
            </ul>
        </div>
    </nav>
</header>

<div class="btn-group btn-group-justified btn-group-raised" style=" bottom: 20px;right: 1px">
    <a ng-click="panel.onTabSelect('home')" href="" class="btn"
                ng-class="{active: panel.isTabSelect('home')}">Home</a>
    <a ng-click="panel.onTabSelect('map')" href="" class="btn"
                ng-class="{active: panel.isTabSelect('map')}">Location</a>
    <a ng-click="panel.onTabSelect('about')" href="" class="btn"
                ng-class="{active: panel.isTabSelect('about')}">About us</a>
</div>
<div style="margin-top: 20px;margin-left: 15%;margin-right: 15%">

    <div class="row" style="">
        <div class="span12">
            <div class="well" ng-include="'./views/' + panel.pathToView + '.html'"></div>
        </div>
    </div>
    <!--<button ng-click="panel.addUser('test','test','test')">Add a user via POST</button>-->
    <!--<ul>-->
        <!--<li ng-repeat="user in users">name : {{user.name}}  login : {{user.login}}</li>-->
    <!--</ul>-->
    <!--<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example</button>-->
    <!--<ul class="dropdown-menu">-->
        <!--<li><a href="#">HTML</a></li>-->
        <!--<li><a href="#">CSS</a></li>-->
        <!--<li><a href="#">JavaScript</a></li>-->
    <!--</ul>-->

    <h6 style="text-align: center">School №24 1982-2016</h6>
</div>
</body>
</html>