<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>School 24</title>
    <!-- build:template
  <link rel="stylesheet" href="<%= mainCssUrl %>">
  /build-->
</head>
<body>
<div id="global-header" ng-include="'views/Common/header.html'"></div>
<div ui-view="" class="page-content"></div>
<h6 class="text-center">School №24 1982-2016</h6>
<!-- build:template
<script src="vendor/requirejs/require.js"></script>
<script>
  require.config({
    waitSeconds: 0,
    baseUrl: '<%= requireJsBaseUrl %>'
  });
  require(['require'], function (require) {
    require(['<%= mainJsUrl %>']);
  });
</script>
/build-->
</body>
</html>