<div class="dashboard-module-wrapper">
    <div class="btn-group btn-group-justified btn-group-raised custom-btn-group">
        <a ui-sref-active="active" ui-sref="settings.users" href="" class="btn">Users</a>
        <a ui-sref-active="active" ui-sref="settings.events" href="" class="btn">Events</a>
        <a ui-sref-active="active" ui_sref="settings.schedule" href="" class="btn">Schedule</a>
        <a ui-sref-active="active" ui_sref="settings.manageRoles" href="" class="btn">Manage Roles</a>
    </div>
    <div class="fixed-width">
        <div class="content" ui-view></div>
    </div>
</div>
