<div class="custom-modal-content">
    <h3>{{selectedDate}}</h3>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <td>№</td>
            <td>Lesson</td>
            <td>Classroom</td>
            <td>Teacher</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="lesson in controller.currentDay track by $index" ng-if="$index !== 0 || (lesson != null || lesson.name != null)" class="info">
            <td>{{$index}}</td>
            <td>{{lesson.lesson}}</td>
            <td>{{lesson.classroom}}</td>
            <td>{{lesson.teacher}}</td>
        </tr>
        </tbody>
    </table>
    <p>
    <h3><b>{{controller.currentDay.dayOff}}</b></h3></p>
    <button type="reset" class="btn btn-default custom-btn-cancel" ng-click="controller.close()">Close</button>
</div>
