<form class="form-horizontal">
    <fieldset>
        <legend>Lesson edit</legend>
        <label for="inputTitle" class="col-md-2 control-label">Title</label>

        <div class="col-md-10">
            <input type="text" class="form-control" id="inputTitle" placeholder="Title" ng-model="lesson.title">
        </div>

        <div class="col-md-10 col-md-offset-2">
            <button class="btn btn-default" ng-click="resetChanges()">Cancel</button>
            <button class="btn btn-primary" ng-click="(isExist) ? saveChanges() : createLesson()">{{(isExist) ? 'Save' : 'Create'}}
            </button>
        </div>

            <form name="editForm"
                  sf-schema="lesson.schema"
                  sf-form="lesson.form"
                  sf-model="lesson.model">
            </form>
            <a class="btn btn-default" ng-click="resetChanges()">Cancel</a>
            <a class="btn btn-info" ng-click="(lesson.model.id)?saveChanges(editForm): createLesson(editForm)">{{(lesson.model.id)?'Update':'Create'}}</a>

    </fieldset>
</form>