<div s-loading-indicator="" ng-show="busy"></div>
<div class="profile-module-wrapper" ng-if="!busy">
    <div ng-show="!showSchemaForm" class="profile-view">
        <div class="profile-title">
            <h3 class="profile-caption">Profile</h3>
            <i class="material-icons" ng-click="toggleShowSchemaForm()">mode_edit</i>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div s-set-image="{{currentUser.avatar}}" class="material-icons avatar" s-class-on-error="person"></div>
                </div>
            </div>
        </div>
        <h4>First name : {{currentUser.first_name}}</h4>
        <h4>Last name : {{currentUser.last_name}}</h4>
        <h4>Login : {{currentUser.username}}</h4>
        <h4>Email : {{currentUser.email}}</h4>
    </div>

    <div ng-show="showSchemaForm">
        <form name="editForm"
              sf-schema="schema"
              sf-form="form"
              sf-model="currentUser">
        </form>
        <a class="btn btn-default" ng-click="toggleShowSchemaForm()">Cancel</a>
        <a class="btn btn-info" ng-click="editProfile(editForm)">Submit</a>
    </div>
</div>