<form ng-if="!controller.showSchemaForm">
    <h3 ng-click="controller.toggleShowSchemaForm()" class="custom-profile-edit" style="cursor: context-menu">Profile</h3>
    <h4>First name : {{currentUser.firstName}}</h4>
    <h4>Last name : {{currentUser.lastName}}</h4>
    <h4>Login : {{currentUser.login}}</h4>
    <h4>Email : {{currentUser.email}}</h4>
</form>

<div ng-if="controller.showSchemaForm">
    <form name="editForm"
          sf-schema="schema"
          sf-form="form"
          sf-model="profile"
          ng-submit="controller.editProfile(editForm)">
    </form>
    <a class="btn btn-default" ng-click="controller.toggleSchemaForm()">Cancel</a>
</div>
