<div class="profile-module-wrapper">
    <div ng-show="!controller.showSchemaForm" class="profile-view">
        <div class="profile-title">
            <h3 class="profile-caption">Profile</h3>
            <i class="material-icons" ng-click="controller.toggleShowSchemaForm()">mode_edit</i>
        </div>
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail material-icons">
                    <div s-set-image="person"
                         image-url="currentUser.avatar"
                         ng-model="imageType"
                         ng-bind="imageType">
                    </div>
                </a>
            </div>
        </div>
        <h4>First name : {{currentUser.first_name}}</h4>
        <h4>Last name : {{currentUser.last_name}}</h4>
        <h4>Login : {{currentUser.username}}</h4>
        <h4>Email : {{currentUser.email}}</h4>
    </div>

    <div ng-show="controller.showSchemaForm">
        <form name="editForm"
              sf-schema="schema"
              sf-form="form"
              sf-model="profile">
        </form>
        <a class="btn btn-default" ng-click="controller.toggleShowSchemaForm()">Cancel</a>
        <a class="btn btn-info" ng-click="controller.editProfile(editForm)">Submit</a>
    </div>
</div>