<div ng-show="!controller.showSchemaForm" class="profile-view">
    <div class="profile-title">
        <h3 class="profile-caption">Profile</h3>
        <i class="material-icons" ng-click="controller.toggleShowSchemaForm()">mode_edit</i>
    </div>
    <h4>First name : {{currentUser.firstName}}</h4>
    <h4>Last name : {{currentUser.lastName}}</h4>
    <h4>Login : {{currentUser.login}}</h4>
    <h4>Email : {{currentUser.email}}</h4>
</div>

<div ng-show="controller.showSchemaForm">
    <form name="editForm"
          sf-schema="schema"
          sf-form="form"
          sf-model="profile">
    </form>
    <a class="btn btn-default" ng-click="controller.toggleShowSchemaForm()">Cancel</a>
    <a class="btn btn-info" ng-click="controller.editProfile(editForm)">Submit</a>
</div>