<div class="profile-module-wrapper">
    <input class="form-control" type="text" ng-model="searchText" placeholder="Filter" ng-show="!showEditForm">

    <div class="list-group user-list-item"
         ng-repeat="user in users | deepFilter: {username: searchText, first_name : searchText, last_name: searchText, email : searchText} track by $index "
         ng-show="!showEditForm">

        <div class="list-group-item" s-check-permissions="hasAdminRights,isTeacher" s-confirm-action="toggleShowEditForm(param)" s-check-user="{{user}}">

            <div class="row-action-primary">
                <i class="material-icons user-list-avatar" ng-if="!user.avatar">person</i>
                <div class="row-picture">
                    <img class="circle" ng-src="{{user.avatar}}" ng-if="user.avatar" alt="icon">
                </div>
            </div>
            <div class="row-content">
                <h4 class="list-group-item-heading">{{user.username}}</h4>

                <p class="list-group-item-text wrap">
                    <item class="item-wrap">{{user.first_name}}</item>
                    <item class="item-wrap">{{user.last_name}}</item>
                    <item class="item-wrap">{{user.email}}</item>
                </p>
            </div>
        </div>
        <div class="list-group-separator"></div>
    </div>

    <div ng-show="showEditForm">
        <form name="editForm"
              sf-schema="user.schema"
              sf-form="user.form"
              sf-model="user.model">
        </form>
        <a class="btn btn-default" ng-click="toggleShowEditForm()">Cancel</a>
        <a class="btn btn-info" ng-click="editProfile(editForm)">Submit</a>
    </div>
</div>
<div infinite-scroll="loadMoreUsers()"
     infinite-scroll-container="'div.scrolling-module-wrapper'"
     infinite-scroll-distance="'0.5'"
     infinite-scroll-immediate-check="true"
     infinite-scroll-disabled="scrollDisabled"></div>
<div s-loading-indicator="" ng-show="busy"></div>
