<div s-loading-indicator="" ng-show="busy"></div>

<div class="events-module-wrapper" ng-show="!busy">

    <!--toggle button-->
    <div class="form-group" ng-show="!showEditForm && !showSetMarkerForm">
        <div class="col-right">
            <div class="togglebutton">
                Table
                <label>
                    <input type="checkbox" ng-model="toggleViews" ng-checked="showMap"
                           ng-change="selectedPage(toggleViews)">
                </label>
                Map
            </div>
        </div>
    </div>
    <div ng-show="!showMap && !showEditForm && !showSetMarkerForm">
        <a class="btn btn-raised btn-success" ng-if="isSettingPage" ng-click="toggleShowEditForm()">Create</a>
        <!--table with events-->
        <div s-render-list="eventList"
             s-render-filter="eventFilter"
             s-render-html-classes="eventHtmlClasses"
             s-render-structure="eventStructure">
        </div>
        <!--<table class="table table-striped table-hover" ng-show="eventList.length > 0">
            <thead>
            <tr>
                <td>#</td>
                <td>Name</td>
                <td>Title</td>
                <td>Date</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-hide="true"
                ng-repeat="event in eventList track by $index" class="success events-item"
                ng-style="isSettingPage ? {'cursor': 'pointer'} : {'cursor': 'default'}"
                ng-click="toggleShowEditForm(event)">
                <td>{{$index+1}}</td>
                <td>{{event.name}}</td>
                <td>{{event.description}}</td>
                <td>{{event.date}}</td>
                <td class="icon-table-right" ng-if="isSettingPage" ng-click="removeEvent(event)"><i
                        class="material-icons icon-cell">delete_forever</i></td>
            </tr>
            </tbody>
        </table>-->
    </div>

    <!--edit form-->
    <div ng-if="showEditForm">
        <form name="editForm"
              sf-schema="event.schema"
              sf-form="event.form"
              sf-model="event.model">
        </form>
        <a class="btn btn-default" ng-click="toggleShowEditForm()">Cancel</a>
        <a class="btn btn-info"
           ng-click="(event.model.id)?editEvent(editForm): toggleShowSecondStepOfEventCreate(editForm)">{{(event.model.id)?'Update':'Next'}}</a>
    </div>

    <!--map-->
    <div ng-show="showSetMarkerForm || showMap">
        <a class="btn btn-raised btn-success" ng-click="saveMarkers()" ng-if="isSettingPage">Save</a>
        <a class="btn btn-raised btn-success" ng-click="showSetMarkerForm ? removeEvent() : resetMarkers()"
           ng-if="isSettingPage">{{showSetMarkerForm ? 'Cancel' : 'Reset'}}</a>
        <a class="btn btn-raised btn-warning" ng-click="deleteMarker()" ng-if="isSettingPage && showSetMarkerForm">Delete
            marker</a>
        <div class="map-container">
            <div class="map">
                <logicify-gmap center="gmOpts.center"
                               gm-options="gmOpts"
                               gm-ready="ready"
                               css-options="cssOpts">
                    <gmap-auto-complete
                            auto-complete-place-holder="placeHolder"
                            default-zoom-on-placeChange="16"
                            gmap-on-place-changed="onPlaceChanged"
                            auto-complete-control-position="autoCompleteControlPosition"
                            enable-auto-complete-type-selectors="true"
                            enable-default-marker="enableDefaultMarker"
                            on-reverse-address-complete="onReverseAddressComplete">
                    </gmap-auto-complete>
                </logicify-gmap>
            </div>
        </div>
    </div>
</div>



