<div s-loading-indicator="" ng-show="busy"></div>

<div class="events-module-wrapper" ng-show="!busy">

    <!--toggle button-->
    <div class="form-group" ng-show="!showEditForm && !showSetMarkerForm">
        <div class="col-right">
            <div class="togglebutton">
                Table
                <label>
                    <input type="checkbox" ng-model="toggleViews" ng-checked="showMap"
                           ng-change="selectedPage(toggleViews)">
                </label>
                Map
            </div>
        </div>
    </div>
    <div ng-show="!showMap && !showEditForm && !showSetMarkerForm">
        <a class="btn btn-raised btn-success" ng-if="isSettingPage" ng-click="toggleShowEditForm()">Create</a>
        <!--table with events-->
        <div s-render-list="eventList"
             s-is-setting-page="isSettingPage"
             s-toggle-show-edit-form="toggleShowEditForm"
             s-remove-event="removeEvent"
             s-render-filter="eventFilter"
             s-render-html-classes="eventHtmlClasses"
             s-render-structure="eventStructure">
        </div>
    </div>

    <!--edit form-->
    <div ng-if="showEditForm">
        <form name="editForm"
              sf-schema="event.schema"
              sf-form="event.form"
              sf-model="event.model">
        </form>
        <a class="btn btn-default" ng-click="toggleShowEditForm()">Cancel</a>
        <a class="btn btn-info"
           ng-click="(event.model.id)?editEvent(editForm): toggleShowSecondStepOfEventCreate(editForm)">{{(event.model.id)?'Update':'Next'}}</a>
    </div>

    <!--map-->
    <div ng-show="showSetMarkerForm || showMap">
        <a class="btn btn-raised btn-success" ng-click="saveMarkers()" ng-if="isSettingPage">Save</a>
        <a class="btn btn-raised btn-success" ng-click="showSetMarkerForm ? removeEvent() : resetMarkers()"
           ng-if="isSettingPage">{{showSetMarkerForm ? 'Cancel' : 'Reset'}}</a>
        <a class="btn btn-raised btn-warning" ng-click="deleteMarker()" ng-if="isSettingPage && showSetMarkerForm">Delete
            marker</a>
        <div class="map-container">
            <div class="map">
                <logicify-gmap center="gmOpts.center"
                               gm-options="gmOpts"
                               gm-ready="ready"
                               css-options="cssOpts">
                    <gmap-auto-complete
                            auto-complete-place-holder="placeHolder"
                            default-zoom-on-placeChange="16"
                            gmap-on-place-changed="onPlaceChanged"
                            auto-complete-control-position="autoCompleteControlPosition"
                            enable-auto-complete-type-selectors="true"
                            enable-default-marker="enableDefaultMarker"
                            on-reverse-address-complete="onReverseAddressComplete">
                    </gmap-auto-complete>
                </logicify-gmap>
            </div>
        </div>
    </div>
</div>



