<div class="row">
    <div class='col-md-4'>
        <div class="form-group">
            <div class='input-group date' id='sfDateTimePicker'>
                <input type='text' class="form-control" ng-model="form.currentDate"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(function () {
            $('#sfDateTimePicker').datetimepicker();
        });
    </script>
</div>