<div class="progressbar-wrapper">
    <div round-progress
         max="maxValue"
         current="currentValue"
         color="#45ccce"
         bgcolor="#eaeaea"
         radius="30"
         stroke="3"
         rounded="true"
         duration="200"
         responsive="false"
         animation="easeInOutQuart"
         animation-delay="0"></div>
    <div class="progressbar-content">
        <i class="material-icons progressbar-icon" ng-bind="dictaphoneButton" ng-click="this[methodOnClick]()"></i>
    </div>
</div>
<div class="progressbar-time" ng-bind="time"></div>

<i class="material-icons cursor-pointer" ng-click="reset()">clear</i>
<a href="{{downloadLink}}" download="{{downloadName}}"><i class="material-icons">get_app</i></a>
