<table>
    <tr>
        <td rowspan="2">
            <div class="progressbar-wrapper">
                <div round-progress
                     max="maxValue"
                     current="currentValue"
                     color="#45ccce"
                     bgcolor="#eaeaea"
                     radius="30"
                     stroke="3"
                     duration="1200"
                     rounded="true"
                     responsive="false"
                     animation="easeInOutQuad"
                     animation-delay="0"></div>
                <div class="progressbar-content">
                    <audio id="music" class="music-player" preload="true">
                        <source ng-src="{{musicSourceUrl}}">
                    </audio>
                    <i class="material-icons progressbar-icon" ng-bind="dictaphoneButton" ng-click="this[methodOnClick]()"></i>
                </div>
            </div>
            <div class="progressbar-time" ng-bind="time"></div>
        </td>
        <td>
            <i class="material-icons cursor-pointer" ng-click="reset()">clear</i>
        </td>
    </tr>
    <tr>
        <td>
            <i class="material-icons" ng-class="musicSourceUrl ? 'cursor-pointer' : 'cursor-default'" ng-click="musicSourceUrl ? download() : none">get_app</i>
        </td>
    </tr>
</table>