<div class="drop-box-wrapper">
    <div ngf-drop ngf-select ng-model="files" class="drop-box"
         ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true">
        <div ng-if="files" ng-repeat="file in files" ng-bind="file.name"></div>
        <div ng-if="!files" class="drop-box-cell">Drag and drop</div>
    </div>
    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

    <div align="right">
        <a ng-if="files" class="btn btn-primary btn-warning" ng-click="clear()" ng-cloak>clear</a>
        <a class="btn btn-primary btn-lg" ng-click="upload()">upload</a>
        <a class="btn btn-primary btn-success" ngf-select ng-model="files" ngf-multiple="true">Browse</a>
    </div>
</div>