<div class="row" ng-show="form.previewType === 'image'">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="watermark-image" ng-src="{{ngModel.$viewValue}}" alt="Preview" ng-show="ngModel.$viewValue">
            <i class="material-icons user-avatar-not-found" ng-hide="ngModel.$viewValue">person</i>
        </div>
    </div>
</div>
<div class="form-group schema-form-{{form.type}} {{form.htmlClass}}"
     ng-class="{'has-error': form.disableErrorState !== true && hasError(), 'has-success': form.disableSuccessState !== true && hasSuccess(), 'has-feedback': form.feedback !== false }">
    <label class="file-input-btn btn-raised btn btn-success {{form.labelHtmlClass}}"
           ng-class="{'sr-only': !showTitle()}"
           for="{{form.key.slice(-1)[0]}}">{{form.title}}</label>

    <input ng-if="!form.fieldAddonLeft && !form.fieldAddonRight"
           accept="{{form.accept}}"
           ng-model="$$value$$"
           s-upload-file="form.fileType"
           ng-show="form.key"
           type="file"
           step="any"
           sf-changed="form"
           placeholder="{{form.placeholder}}"
           class="form-control {{form.fieldHtmlClass}}"
           id="{{form.key.slice(-1)[0]}}"
           sf-field-model
           ng-disabled="form.readonly"
           schema-validate="form"
           name="{{form.key.slice(-1)[0]}}"
           aria-describedby="{{form.key.slice(-1)[0] + 'Status'}}">

    <div ng-if="form.fieldAddonLeft || form.fieldAddonRight"
         ng-class="{'input-group': (form.fieldAddonLeft || form.fieldAddonRight)}">
    <span ng-if="form.fieldAddonLeft"
          class="input-group-addon"
          ng-bind-html="form.fieldAddonLeft"></span>
        <input ng-show="form.key"
               accept="{{form.accept}}/*"
               ng-model="$$value$$"
               s-upload-file="form.fileType"
               type="file"
               step="any"
               sf-changed="form"
               placeholder="{{form.placeholder}}"
               class="form-control {{form.fieldHtmlClass}}"
               id="{{form.key.slice(-1)[0]}}"
               sf-field-model
               ng-disabled="form.readonly"
               schema-validate="form"
               name="{{form.key.slice(-1)[0]}}"
               aria-describedby="{{form.key.slice(-1)[0] + 'Status'}}">

    <span ng-if="form.fieldAddonRight"
          class="input-group-addon"
          ng-bind-html="form.fieldAddonRight"></span>
    </div>

<span ng-if="hasError() || hasSuccess()"
      id="{{form.key.slice(-1)[0] + 'Status'}}"
      class="sr-only">{{ hasSuccess() ? '(success)' : '(error)' }}</span>

    <div class="help-block" sf-message="form.description"></div>
</div>